.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: -5px;
}

.badge-exclamation {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: tomato solid 2px;
  background-color: white;
  position: absolute;
  color: tomato;
  font-size: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: 0px;
}
